---
page_title: "Provider: ldap"
description: |-
---

# {{ .ProviderShortName | upper }} Provider

The provider makes it possible to read all details about a user in LDAP.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}