---
layout: ""
page_title: "LDAP Provider"
description: |-
  The LDAP provider is used to interact with any ActiveDirectory server.
---

# LDAP Provider

The LDAP provider is used to interact with any ActiveDirectory server.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
